<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Redo att förverkliga din trädgårdsvision?
        </h2>
        <p>
            Få professionell rådgivning och en skräddarsydd lösning för din trädgård – utan förpliktelser!
        </p>
        <a href="https://forms.fillout.com/t/v6aK5U7N6vus" class="cs-button-solid">Få en gratis offert</a>
    </div>
    <picture>
        <source
            media="(max-width: 600px)"
            srcset="/assets/images/gard2-m.webp"
        />
        <source
            media="(min-width: 601px)"
            srcset="/assets/images/gard2.jpg"
        />
        <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/gard2.jpg"
            alt="gård"
            loading="lazy"
            width="2500"
            height="1667"
        />
    </picture>
</section>
