<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Redo att ge din hund den bästa vården?
        </h2>
        <p>
            Boka en tid hos oss för professionell pälsvård och omsorg – helt utan förpliktelser!
        </p>
        <a href="/kontakt" class="cs-button-solid">Få en gratis offert</a>
    </div>
    <picture>
        <source
            media="(max-width: 600px)"
            srcset="/assets/images/landing-m.webp"
        />
        <source
            media="(min-width: 601px)"
            srcset="/assets/images/landing.jpg"
        />
        <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/landing.jpg"
            alt="gård"
            loading="lazy"
            width="2500"
            height="1667"
        />
    </picture>
</section>
