<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"
                ><img
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/kos-logo.png"
            /></a>
            <p>
                <b>Rasbo Hundsalong</b><br />
                Trygg och personlig hundvård med omtanke.<br />
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Hem</a>
                    </li>
                    <li>
                        <a href="#services-1188">Våra tjänster</a>
                    </li>
                    <li>
                        <a href="#sbs">Om oss</a>
                    </li>
                    <li>
                        <a href="/kontakt">Kontakt</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Kontakt</h2>
                    </li>
                    <li>
                        <a
                            class="footer-link-special"
                            href="mailto:{{ client.email }}"
                            >Maila oss</a
                        >
                    </li>
                    <li>
                        <a href="tel:{{ client.phoneForTel }}">
                            T: {{ client.phoneFormatted }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ client.address.mapLink }}">
                            {{ client.address.lineOne }}<br />
                            {{ client.address.city }}<br />
                            {{ client.address.zip }}
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Följ oss</h2>
                    </li>
                    <li>
                        <a
                            href="https://www.facebook.com/people/Rasbo-Hundsalong/61550681531579/"
                            >Facebook</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designad och utvecklad av</span>
        <a href="/" target="_blank" rel="noopener">Hudson Solutions AB</a>
        <span class="copyright"> Copyright {% year %}</span>
    </div>
</footer>
