---
title: "Grönyteskötsel | Kilen of Sweden Entreprenad"
description: "Upptäck professionella grönyteskötsel-tjänster från Kilen of Sweden Entreprenad. Vi erbjuder allt från gräsklippning och häckklippning till ogräsrensning och slyröjning i Uppsala. Låt oss hjälpa dig att skapa och underhålla en vacker och välskött trädgård, med skräddarsydda lösningar för dina behov."
preloadImg: "/assets/images/gard3.jpg"
permalink: "tjänster/grönyteskötsel/"
eleventyNavigation:
    key: Grönyteskötsel
    order: 3100
    parent: Tjänster
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Grönyteskötsel</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/gard3-m.webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/gard3.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/gard3.jpg"
                alt="gräsyta"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>


    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-1188">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Våra grönytetjänster</span>
                <h2 class="cs-title">Vi erbjuder professionella mark- och trädgårdsarbeten i Uppsala</h2>
                <p class="cs-text">
                    Vi erbjuder professionella mark- och trädgårdsarbeten i Uppsala för att hålla din utomhusmiljö i toppskick. Våra tjänster omfattar allt från gräsklippning, häckklippning och beskärning till ogräsrensning och slyröjning. Vi hjälper dig också att plantera blommor och träd, skapa nya grönytor och hålla din trädgård ren med bortforsling av sly och fallfrukt. Oavsett om du behöver underhåll regelbundet eller hjälp med en större trädgårdsrenovering, är vi här för att förvandla dina idéer till verklighet. Låt oss ta hand om din trädgård och skapa en grönskande oas!
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/mower.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Gräsklippning</h3>
                        <p class="cs-item-text">Vi erbjuder regelbunden och noggrann gräsklippning som håller din gräsmatta välvårdad, frisk och frodig. Med våra professionella tjänster får du en jämn och grön yta som lyfter hela din trädgårdsmiljö.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/scissors.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture> 
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Häckklipppning</h3>
                        <p class="cs-item-text">Låt oss hjälpa dig att skapa prydliga och välformade häckar med vår häckklippningstjänst. Vi ser till att dina häckar hålls täta, friska och estetiskt tilltalande, oavsett om de är stora eller små.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/scissors.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Beskärning</h3>
                        <p class="cs-item-text">För att säkerställa att dina växter och träd växer hälsosamt och håller en vacker form erbjuder vi professionell beskärning. Vi anpassar beskärningen efter växtens behov och trädgårdens utseende.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/grass.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Ogräsrensning</h3>
                        <p class="cs-item-text">Ogräs kan snabbt ta över en trädgård och påverka dess utseende och växters hälsa. Vi erbjuder effektiv ogräsrensning som ger din trädgård ett fräscht och välskött intryck.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/olive-branch-dove.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Slyröjning</h3>
                        <p class="cs-item-text">Vi utför slyröjning för att hålla din trädgård eller markyta fri från oönskad vegetation. Vår tjänst är idealisk för att öppna upp landskapet och skapa mer utrymme.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/watering-can-plant.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Plantering av blommor och träd</h3>
                        <p class="cs-item-text">Ge din trädgård ett lyft med vackra blommor och robusta träd. Vi hjälper dig att välja rätt växter för din trädgård och tar hand om hela planteringsprocessen.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/olive-branch-dove.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Bortforsling av sly</h3>
                        <p class="cs-item-text">Efter röjning ser vi till att sly och avfall transporteras bort, så att din trädgård lämnas ren och redo för nästa steg./p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/apple-whole.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Bortforsling av fallfrukt</h3>
                        <p class="cs-item-text">Fallfrukt kan snabbt bli en källa till oreda och skadedjur. Vi erbjuder bortforsling av fallfrukt för att hålla din trädgård ren och hygienisk.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/hand-holding-seeding.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Nyanläggning</h3>
                        <p class="cs-item-text">Drömmer du om en ny trädgård eller vill förnya en befintlig yta? Vi erbjuder komplett nyanläggning av trädgårdar, inklusive markförberedelser, planering och plantering, för att skapa din drömträdgård.</p>
                    </div>
                </li>
            </ul>
            <a href="https://forms.fillout.com/t/v6aK5U7N6vus" class="cs-button-solid">Få en offert</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gravarbete1-m.webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gravarbete1.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/gravarbete1.jpg"
                        alt="grävarbete"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gard3-m.webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gard3.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/gard3.jpg"
                        alt="gård"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Läs mer</span>
                <h2 class="cs-title">Vill du veta mer om våra tjänster och vårt arbetssätt?</h2>
                <p class="cs-text">
                    Vill du veta mer om våra professionella trädgårdstjänster och vårt effektiva arbetssätt? Vi erbjuder allt från trädgårdsanläggning och gräsklippning till trädbeskärning och vedleverans, alltid med fokus på hållbarhet och kvalitet. Våra erfarna arborister och trädgårdsexperter hjälper dig att skapa och underhålla din drömträdgård. Vi anpassar våra tjänster efter dina behov för att säkerställa ett bra resultat. Kontakta oss idag för en offert eller mer information om hur vi kan förbättra din utemiljö!
                </p>
                <a href="/blogg" class="cs-button-solid">Läs vår blogg</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
