---
title: "Vedförsäljning | Kilen of Sweden Entreprenad"
description: "Upptäck vedförsäljning och vedtjänster från Kilen of Sweden Entreprenad i Uppsala. Vi erbjuder svensk ved av hög kvalitet, professionell vedklyvning och snabb vedleverans direkt till din dörr. Välj mellan barrved, lövved eller fruktved för effektiv och hållbar uppvärmning. Sänk dina uppvärmningskostnader och skapa en mysig brasa med vår pålitliga service."
preloadImg: "/assets/images/ved1.jpg"
permalink: "tjänster/vedförsäljning/"
eleventyNavigation:
    key: Vedförsäljning
    order: 3300
    parent: Tjänster
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Vedförsäljning</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/ved1-m.webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/ved1.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/ved1.jpg"
                alt="ved"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

 
    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-1188">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Våra Vedtjänster</span>
                <h2 class="cs-title">Vedleveranser och tjänster i Uppsala</h2>
                <p class="cs-text">
                    Vi erbjuder ett brett utbud av vedtjänster som är ett utmärkt alternativ i tider av höga elpriser. Om du behöver en kostnadseffektiv värmekälla eller en mysig brasa är ved det perfekta valet. Våra tjänster inkluderar professionell vedklyvning, försäljning av svensk ved, och smidig vedleverans direkt till din dörr. Välj mellan ved av barrträd, lövträd eller fruktträd – allt noggrant utvalt och av hög kvalitet. Låt oss hjälpa dig sänka dina uppvärmningskostnader och skapa värme i ditt hem!
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/campfire.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Vedklyvning</h3>
                        <p class="cs-item-text">Vi erbjuder professionell vedklyvning för att göra din ved redo för användning. Vi klyver både färsk och torr ved, vilket ger dig bra uppvärmning för kalla vintermånader. Perfekt för både privatpersoner och företag i Uppsala.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" 
                            src="/assets/svgs/sweden.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Svensk ved</h3>
                        <p class="cs-item-text">Vår ved kommer från svenska skogar och är noggrant utvald för högsta kvalitet. Vi erbjuder både barrved och lövved som är miljövänlig och brinner effektivt. Perfekt för dig som vill ha hållbar uppvärmning med lokal ved.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                            src="/assets/svgs/shipping-fast.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Vedleverans</h3>
                        <p class="cs-item-text">Vi erbjuder snabb och pålitlig vedleverans direkt till din dörr. Välj mellan olika typer av ved, inklusive barrved och lövved, och få den levererad till ett konkurrenskraftigt pris. Smidig leverans för både privatpersoner och företag.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                            src="/assets/svgs/tree.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Ved av barrträd</h3>
                        <p class="cs-item-text">Vi säljer högkvalitativ ved från barrträd som gran, tall och furu. Barrved är perfekt för uppvärmning eftersom den brinner med hög värme och lång brinntid. Köp din barrved från oss och få effektiv och pålitlig uppvärmning.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                            src="/assets/svgs/forest.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Ved av lövträd</h3>
                        <p class="cs-item-text">Vår ved av lövträd, såsom björk och bok, ger en längre och jämnare brinntid. Lövved är idealisk för en mer kontrollerad brasa och används ofta för både uppvärmning och mysiga brasan kvällar. Beställ din lövved för hög kvalitet och effektiv uppvärmning.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                            src="/assets/svgs/tree-deciduous.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Ved av fruktträd</h3>
                        <p class="cs-item-text">Vi erbjuder ved av fruktträd som äppel- och päronträd. Denna ved ger en härlig doft och en långsam, jämn förbränning. Fruktträdsveden är idealisk för både uppvärmning och som ved till grillning. Köp din fruktved för en unik och effektiv brasa.</p>
                    </div>
                </li>
            </ul>
            <a href="https://forms.fillout.com/t/v6aK5U7N6vus" class="cs-button-solid">Få en offert</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/ved2-m.webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/ved2.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/ved2.jpg"
                        alt="ved"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/ved1-m.webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/ved1.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/ved1.jpg"
                        alt="ved"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Läs mer</span>
                <h2 class="cs-title">Vill du veta mer om våra tjänster och vårt arbetssätt?</h2>
                <p class="cs-text">
                    Vill du veta mer om våra professionella trädgårdstjänster och vårt effektiva arbetssätt? Vi erbjuder allt från trädgårdsanläggning och gräsklippning till trädbeskärning och vedleverans, alltid med fokus på hållbarhet och kvalitet. Våra erfarna arborister och trädgårdsexperter hjälper dig att skapa och underhålla din drömträdgård. Vi anpassar våra tjänster efter dina behov för att säkerställa ett bra resultat. Kontakta oss idag för en offert eller mer information om hur vi kan förbättra din utemiljö!
                </p>
                <a href="/blogg" class="cs-button-solid">Läs vår blogg</a>
            </div>
        </div>
    </section>


    {% include 'components/cta.html' %}
{% endblock %}
