---
title: "Omdömen | Kilen of Sweden Entreprenad"
description: "Läs omdömen och recensioner från nöjda kunder hos Kilen of Sweden Entreprenad. Upptäck varför vi är kända för snabb, effektiv och professionell service inom arboristtjänster. Våra kunder i Uppsala, Enköping, Norrtälje och omkringliggande områden ger oss toppbetyg för vårt bemötande, noggranna arbete och vänliga personal. Se vad kunder säger om vårt arbete med trädbeskärning, fällning och trädunderhåll."
preloadImg: "/assets/images/landning.jpg"
permalink: "omdömen/"
eleventyNavigation:
    key: Omdömen
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Omdömen</h1>
        <picture class="cs-picture">
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/landing-m.webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/landing.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/landing.jpg"
                alt="new home"
                width="2500"
                height="1667"
                loading="eager"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img
                        class="profile"
                        loading="lazy"
                        decoding="async"
                        src="/assets/svgs/profile.svg"
                        alt=""
                        width="99"
                        height="99"
                    />
                </picture>
                <p>
                    Snabbt, effektivt och snyggt. Allt avfall togs bort. Trevligt bemötande.<br>
                    1 jan 2025
                </p>
                <div class="star-group">
                    <span class="name"
                        >Elsa<span class="desc">Uppsala</span></span
                    >
                    <picture>
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="/assets/svgs/stars.svg"
                            alt="stars"
                            width="91"
                            height="15"
                        />
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img
                        class="profile"
                        loading="lazy"
                        decoding="async"
                        src="/assets/svgs/profile.svg"
                        alt=""
                        width="99"
                        height="99"
                    />
                </picture>
                <p>
                    Extremt nöjd med allt! Kommunikation, utförande, bemötande. Allt var 100% toppklass! Kan varmt rekommendera Kilen!<br>
                    29 dec 2024
                </p>
                <div class="star-group">
                    <span class="name"
                        >Jan<span class="desc">Österåker</span></span
                    >
                    <picture>
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="/assets/svgs/stars.svg"
                            alt="stars"
                            width="91"
                            height="15"
                        />
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img
                        class="profile"
                        loading="lazy"
                        decoding="async"
                        src="/assets/svgs/profile.svg"
                        alt=""
                        width="99"
                        height="99"
                    />
                </picture>
                <p>
                    Bra och rak kommunikation inför, Bra utfört arbete och trevlig abborist. OK prisnivå. Kan rekommenderas.<br>
                    9 nov 2024
                </p>
                <div class="star-group">
                    <span class="name"
                        >Erik<span class="desc">Uppsala</span></span
                    >
                    <picture>
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="/assets/svgs/stars.svg"
                            alt="stars"
                            width="91"
                            height="15"
                        />
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img
                        class="profile"
                        loading="lazy"
                        decoding="async"
                        src="/assets/svgs/profile-woman.svg"
                        alt=""
                        width="99"
                        height="99"
                    />
                </picture>
                <p> 
                    Mycket trevligt bemötande. Bra jobbat.<br>
                    15 okt 2024
                </p>
                <div class="star-group">
                    <span class="name"
                        >Magdalena<span class="desc">Alunda</span></span
                    >
                    <picture>
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="/assets/svgs/stars.svg"
                            alt="stars"
                            width="91"
                            height="15"
                        />
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img
                        class="profile"
                        loading="lazy"
                        decoding="async"
                        src="/assets/svgs/profile.svg"
                        alt=""
                        width="99"
                        height="99"
                    />
                </picture>
                <p>
                    Väldigt trevlig och kunnig personal. Jobbade snabbt och effektivt.<br>
                    25 sep 2024
                </p>
                <div class="star-group">
                    <span class="name"
                        >Jonas<span class="desc">Norrtälje</span></span
                    >
                    <picture>
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="/assets/svgs/stars.svg"
                            alt="stars"
                            width="91"
                            height="15"
                        />
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img
                        class="profile"
                        loading="lazy"
                        decoding="async"
                        src="/assets/svgs/profile.svg"
                        alt=""
                        width="99"
                        height="99"
                    />
                </picture>
                <p>
                    Mycket bra utfört arbete. Lätta att kommunicera med och väldigt trevliga.<br>
                    19 sep 2024
                </p>
                <div class="star-group">
                    <span class="name"
                        >Yvonne<span class="desc">Storvreta</span></span
                    >
                    <picture>
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="/assets/svgs/stars.svg"
                            alt="stars"
                            width="91"
                            height="15"
                        />
                    </picture>
                </div>
            </div>
                        <div class="review">
                <picture>
                    <img
                        class="profile"
                        loading="lazy"
                        decoding="async"
                        src="/assets/svgs/profile.svg"
                        alt=""
                        width="99"
                        height="99"
                    />
                </picture>
                <p>
                    Trevliga att ha göra med och snabba med att utföra arbetet. Kan varmt rekommenderas.<br>
                    17 sep 2024
                </p>
                <div class="star-group">
                    <span class="name"
                        >Terese<span class="desc">Enköping</span></span
                    >
                    <picture>
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="/assets/svgs/stars.svg"
                            alt="stars"
                            width="91"
                            height="15"
                        />
                    </picture>
                </div>
            </div>
                        <div class="review">
                <picture>
                    <img
                        class="profile"
                        loading="lazy"
                        decoding="async"
                        src="/assets/svgs/profile.svg"
                        alt=""
                        width="99"
                        height="99"
                    />
                </picture>
                <p>
                    Bra jobb utfört med noggrannhet och känsla. Jag är nöjd!
                </p>
                <div class="star-group">
                    <span class="name"
                        >Katrin<span class="desc">Uppsala</span></span
                    >
                    <picture>
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="/assets/svgs/stars.svg"
                            alt="stars"
                            width="91"
                            height="15"
                        />
                    </picture>
                </div>
            </div>
                        <div class="review">
                <picture>
                    <img
                        class="profile"
                        loading="lazy"
                        decoding="async"
                        src="/assets/svgs/profile.svg"
                        alt=""
                        width="99"
                        height="99"
                    />
                </picture>
                <p>
                    Jag kan varmt rekommendera Kilen. Jobbet utfördes helt enligt mina önskemål.
                    Förutom ett professionellt utfört arbete ett mycket trevligt bemötande. Jag är helnöjd. <br>
                    10 jun 2024
                </p>
                <div class="star-group">
                    <span class="name"
                        >Lars<span class="desc">Uppsala</span></span
                    >
                    <picture>
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="/assets/svgs/stars.svg"
                            alt="stars"
                            width="91"
                            height="15"
                        />
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
