---
title: "Våra tjänster | Kilen of Sweden Entreprenad"
description: "Upptäck professionella grönyteskötsel-tjänster från Kilen of Sweden Entreprenad. Vi erbjuder allt från gräsklippning och häckklippning till ogräsrensning och slyröjning i Uppsala. Låt oss hjälpa dig att skapa och underhålla en vacker och välskött trädgård, med skräddarsydda lösningar för dina behov."
preloadImg: "/assets/images/landing.jpg"
permalink: "#services-1188"
eleventyNavigation:
    key: Tjänster
    order: 300
---


{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Våra tjänster</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/landing.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/landing.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/landing.jpg"
                alt="gräsyta"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>


    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-448">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Våra tjänster</span>
                <h2 class="cs-title">Våra tjänster för trygga och välskötta utomhusmiljöer i Uppsala</h2>
                <p class="cs-text">
                    Vi erbjuder professionell trädfällning, arboristtjänster och omfattande grönyteservice för både privata och kommersiella kunder. Med fokus på säkerhet, miljö och estetik hjälper vi dig skapa välskötta och harmoniska utomhusmiljöer som möter dina unika behov. Från avancerade trädtjänster till löpande underhåll, vi levererar kvalitet i varje detalj.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-flex">
                        <picture class="cs-wrapper">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/grass.svg" alt="icon" width="70" height="70">
                        </picture>
                        <h3 class="cs-h3">Grönyteskötsel</h3>
                        <p class="cs-item-text">Professionell skötsel av gräsmattor, rabatter och grönytor för en välskött och hälsosam utemiljö</p>
                        <a href="/tjänster/grönyteskötsel" class="cs-link">Läs mer</a>
                    </div>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/gard2-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/gard2.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/gard2.jpg">
                    </picture>
                </li>
                <li class="cs-item">
                    <div class="cs-flex">
                        <picture class="cs-wrapper">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/axe.svg">
                        </picture>
                        <h3 class="cs-h3">Trädbeskärning och arboristtjänster</h3>
                        <p class="cs-item-text">Vi säkerställer friska träd genom expertbeskärning och säkra lösningar för alla typer av trädtjänster.</p>
                        <a href="/tjänster/trädbeskärning-och-arboristtjänster" class="cs-link">Läs mer</a>
                    </div>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/arborist8-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/arborist8.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/arborist8.jpg">
                    </picture>
                </li>
                <li class="cs-item">
                    <div class="cs-flex">
                        <picture class="cs-wrapper">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/campfire.svg">
                        </picture>
                        <h3 class="cs-h3">Vedförsäljning</h3>
                        <p class="cs-item-text">Vi erbjuder kvalitetsved för uppvärmning och trivsel. Perfekt för både hem och fritid.</p>
                        <a href="/tjänster/vedförsäljning" class="cs-link">Läs mer</a>
                    </div>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/ved1-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/ved1.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/ved1.jpg">
                    </picture>
                </li>
            </ul>
        </div>
    </section>
                                    

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gravarbete1-m.webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gravarbete1.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/gravarbete1.jpg"
                        alt="grävarbete"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/gard3-m.webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/gard3.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/gard3.jpg"
                        alt="gård"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Läs mer</span>
                <h2 class="cs-title">Vill du veta mer om våra tjänster och vårt arbetssätt?</h2>
                <p class="cs-text">
                    Vill du veta mer om våra professionella trädgårdstjänster och vårt effektiva arbetssätt? Vi erbjuder allt från trädgårdsanläggning och gräsklippning till trädbeskärning och vedleverans, alltid med fokus på hållbarhet och kvalitet. Våra erfarna arborister och trädgårdsexperter hjälper dig att skapa och underhålla din drömträdgård. Vi anpassar våra tjänster efter dina behov för att säkerställa ett bra resultat. Kontakta oss idag för en offert eller mer information om hur vi kan förbättra din utemiljö!
                </p>
                <a href="/blogg" class="cs-button-solid">Läs vår blogg</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}


{# 
    The starter kit uses the eleventy navigation plugin to render navigation items using data defined within the page,
    making the navigation easy to control in larger projects.
    https://www.11ty.dev/docs/plugins/navigation/

    In the starter kit, dropdowns are created by defining a "parent" in the eleventyNavigation frontmatter data of the child
    page (see pages/project-one.html as an example).

    To create the dropdown "parent", which gets rendered as a <span> (as opposed to an <a>) we need to create a blank HTML
    file with the eleventyNavigation frontmatter defined, as shown in this example file.

    Make sure the permalink is set to "false", which prevents a HTML file being made in /public and keeps this page from
    being written to the sitemap.


    permalink: false
    eleventyNavigation:
        key: Tjänster
        order: 300
#}
