---
title: "Trädbeskräning och arboristtjänster | Kilen of Sweden Entreprenad"
description: "Upptäck professionella arboristtjänster och trädbeskärning från Kilen of Sweden Entreprenad i Uppsala. Våra erfarna arborister erbjuder trädfällning, stubbfräsning, trädunderhåll, samt expertbedömningar av trädens hälsa och säkerhet. Vi hjälper dig skapa en vacker och säker trädgård med rätt åtgärder för dina träd, från plantering till stabilisering och borttagning av stormskadade träd."
preloadImg: "/assets/images/arborist8.jpg"
permalink: "tjänster/trädbeskärning-och-arboristtjänster/"
eleventyNavigation:
    key: Trädbeskärning och arboristtjänster
    order: 3200
    parent: Tjänster
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Trädbeskärning och arboristtjänster</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/arborist8-m.webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/arborist8.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/arborist8.jpg"
                alt="kitchen cabinets"
                loading="arborist som arbetar"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-1188">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Våra Arboristtjänster</span>
                <h2 class="cs-title">Vi erbjuder professionella arboristtjänster och trädbeskärningar i Uppsala</h2>
                <p class="cs-text">
                    Träd är en ovärderlig del av både våra trädgårdar och vår miljö, men för att de ska förbli säkra, vackra och friska krävs regelbundet underhåll. Med hjälp av våra erfarna arborister kan du vara trygg i att dina träd får den omsorg de behöver. Vi erbjuder ett brett utbud av tjänster, från trädbeskärning och kronstabilisering till trädfällning och borttagning av stormskadade träd. Oavsett om du behöver plantera nya träd, bedöma trädens hälsa eller avlägsna stubbar, hjälper vi dig att skapa en trygg och harmonisk utemiljö. Låt oss hjälpa dig ta hand om dina träd med expertis och omtanke!
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/scissors.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Trädbeskärning</h3>
                        <p class="cs-item-text">Vi förbättrar trädkronans hälsa och utseende genom att ta bort döda, sjuka eller skadade grenar och forma trädet för att passa din trädgårdsmiljö.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/campfire.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Trädfällning</h3>
                        <p class="cs-item-text">Vi utför säker trädfällning med avancerad utrustning, oavsett om trädet är sjukt, en säkerhetsrisk eller står i vägen för byggprojekt.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/axe.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Stubbfräsning & borttagning av stubbar</h3>
                        <p class="cs-item-text">Vi tar effektivt bort stubbar efter trädfällning för att frigöra utrymme för nya projekt eller planteringar.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/tree.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Trädunderhåll och hälsobedömning</h3>
                        <p class="cs-item-text">Våra arborister inspekterar och ger råd om dina träds hälsa, identifierar problem och säkerställer långsiktig säkerhet..</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/hand-holding-seeding.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Trädplantering</h3>
                        <p class="cs-item-text">Vi hjälper dig välja, plantera och etablera rätt träd som passar din tomt, jordmån och klimat.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/axe.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Borttagning av stormskadade träd</h3>
                        <p class="cs-item-text">Vi hanterar stormskadade träd snabbt och säkert för att minimera risken för ytterligare skador på egendom.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/forest.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Trädstabilisering</h3>
                        <p class="cs-item-text">Om ett träd är instabilt men fortfarande kan räddas, använder vi kablar och stagning för att stabilisera trädet och förhindra framtida skador.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/survey-xmark.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Trädinventering</h3>
                        <p class="cs-item-text">Vi utför trädinventering för att bedöma trädens hälsa och säkerhet. Vi identifierar risker och ger rekommendationer för åtgärder. Perfekt för fastighetsägare och trädgårdsägare som vill hålla sina träd i bra skick.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/crown.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Kronstabilisering</h3>
                        <p class="cs-item-text">Kronstabilisering stärker trädens krona med kablar och stag för att förhindra skador och öka stabiliteten. En viktig åtgärd för att bevara trädens säkerhet i tuffa väderförhållanden.</p>
                    </div>
                </li>
            </ul>
            <a href="https://forms.fillout.com/t/v6aK5U7N6vus" class="cs-button-solid">Få en offert</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/portfolio/arborist9-m.webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/portfolio/arborist9.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/portfolio/arborist9.jpg"
                        alt="arborist som arbetar"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/portfolio/arborist14-m.webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/portfolio/arborist14.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/portfolio/arborist14.jpg"
                        alt="house"
                        loading="stabiliserat träd"
                        width="400"
                        height="560"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Läs mer</span>
                <h2 class="cs-title">Vill du veta mer om våra tjänster och vårt arbetssätt?</h2>
                <p class="cs-text">
                    Vill du veta mer om våra professionella trädgårdstjänster och vårt effektiva arbetssätt? Vi erbjuder allt från trädgårdsanläggning och gräsklippning till trädbeskärning och vedleverans, alltid med fokus på hållbarhet och kvalitet. Våra erfarna arborister och trädgårdsexperter hjälper dig att skapa och underhålla din drömträdgård. Vi anpassar våra tjänster efter dina behov för att säkerställa ett bra resultat. Kontakta oss idag för en offert eller mer information om hur vi kan förbättra din utemiljö!
                </p>
                <a href="/blogg" class="cs-button-solid">Läs vår blogg</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
